@font-face {
  font-family: "Antonym-Regular";
  src: url("fonts/Antonym-Regular.otf");
}

@font-face {
  font-family: "Antonym-Light";
  src: url("fonts/Antonym-Light.otf");
}

@font-face {
  font-family: "formular-regular";
  src: url("fonts/formular-regular.otf");
}

@font-face {
  font-family: "formular-light";
  src: url("fonts/formular-light.otf");
}

@font-face {
  font-family: "formular-bold";
  src: url("fonts/formular-bold.otf");
}

body {
  background-color: #fff5e6;
}

/*Typography*/
h1 {
  font-family: "Antonym-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  color: #3f546c;
}

h3 {
  font-family: "formular-bold";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #206aac;
}

p {
  font-family: "formular-light";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #3f546c;
}

body {
  background-color: #fff5e6;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 50px 56px 56px 56px;
}

.wrapper-body{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 50px 56px 56px 56px;
}
.title-div{
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  padding: auto 0px auto 0px;
}

.p-div{
  align-items: flex-start;
  justify-content: space-evenly;
  width: 30%;
  padding: auto 0px auto 0px;
}

.div-60{
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  margin: auto 0px auto 0px;
}

.div-40{
  width: 30%;
  margin: 0px 0px auto 0px;
}

.chart {
  width: 9rem;
  height: 15rem;
  margin: 0px 20px 30px 0px;
}
